@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

*{
    font-family: 'Nanum Gothic', sans-serif;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover,
a:focus{
    color: #bbbbbb;
}
.navbar-default{
    background-color: #000000;
    border-color: #000000;
}
.navbar-default .navbar-brand{
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #bbbbbb;
}
.navbar-default .navbar-nav > .active > a{
    color: #ffffff;
    background-color: #000000;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    background-color: #000000;
    color: #bbbbbb;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: #bbbbbb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    background-color: #ffffff;
    color: #000000;
}
@media(max-width:767px)
{
    .navbar-default .navbar-nav > .open > .dropdown-menu > li > a{
        color: #ffffff;
    }
    .navbar-default .navbar-nav > .open > .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav > .open > .dropdown-menu > li > a:focus{
        color: #bbbbbb;
    }
}
